:root {
--accent-color: #2196F3;
--primary-text-color: #757575;
--primary-title-color: #212121;
--secondary-text-color: rgba(255, 255, 255, 0.6);
--secondary-title-color: #FFFFFF;
--main-background-color: #2F303A;
--background-color: #F5F4FA;
--btn-background-color: #188CE8;
--logo-color: #000000;
--border-color: #ECECEC;
--img-overlay-color: #2F303A 40%;
--icon-color: #AFB1B8;
--background-overlay: rgba(0, 0, 0, 0.2);
--about-overlay-color: rgba(47, 48, 58, 0.8);
--modal-border-color: rgba(0, 0, 0, 0.1);
--background-overlay-portfolio: rgba(33, 150, 243, 0.9);
--transition-duration: 250ms;
--timing-function:cubic-bezier(0.4, 0, 0.2, 1);
--modal-border-color: rgba(33, 33, 33, 0.2);
}

